@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .toggle__nav {
    /* display: none; */
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo {
    order: 2;
    width: 100%;
    text-align: center;
  } 

  .nav__links {
    margin: 0;
    width: 100%;
    order: 3;
}
  .nav__links li {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 0.6px solid grey;
    padding: 1.5rem 0;
  }

  .nav__links li a {
    padding: 10px 0;
  }

  .nav__profile  {
    flex-direction: column;
    justify-content: center;
    /* padding: 1.5rem 0; */
    order: 2;
    width: 100%;
  }

  .nav__profile {
    width: 100%;
  }

  .nav__profile button {
    order: 2;
    width: 100%;
    margin: 1rem 0;
  }

  .nav__profile input {
    order: 3;
    width: 100%;
    margin: 1rem 0;
  }

  .nav__profile img {
    order: 1;
    width: 100px;
    margin: 1rem 0;
  }
}